*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  color: #fff;
  
}

section{
  min-height: 100vh;
  background: #000;
}
.content_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}
.content{
  margin: 0px 30%;
  text-align: center;
}
.content h2{
  margin-bottom: 30px;
}
.skyblue_bg{
  background: skyblue;
}

.content span {
  color: hsl(0 0% 100% / 0.2);
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-image: linear-gradient(90deg, red, blue);
  animation: opacity-revealed linear forwards;
  
  animation-timeline: view();
}

.content h2 span{
  animation-range-start: cover 20vh;
  animation-range-end: cover 30vh;
}
.content p span{
  animation-range-start: cover 20vh;
  animation-range-end: cover 30vh;
}

@keyframes opacity-revealed {
  to{background-size: 100% 100%;}
}






